html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*font-weight: bold;*/
  background-color: #f5f5f5;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.index-title {
  text-align: center;
  color: #696969;
  font-weight: 1500;
  padding-top: 50px;
  font-size: 50px;
}

p {
  color: #696969;
}

.container {
  margin: 0 auto;
  padding: 50px 0 0;
  padding-bottom: 50px;
  max-width: 700px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 20px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.index-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {
  .index-table {
    flex-direction: row;
  }
}

.index-table * {
  text-align: center;
}

.index-option {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.index-option:last-child {
  border-bottom: none;
}

@media (min-width: 700px) {
  .index-option {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .index-option:last-child {
    border-right: none;
  }
}

.index-header {
  color: #696969;
  font-weight: 600;
  letter-spacing: 1px;
}

.index-button {
  border-radius: 20px;
  background-color: #48aaff;
  color: #fff;
  display: inline-block;
  margin: 15px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  width: 230px;
  opacity: 0.9;
}

.index-button:hover,
.index-button:active {
  opacity: 1; 
  /*changed*/
}

/*Form style*/

.form-cont {
  padding: 16px;
  background-color: white;
}

input[type=text], input[type=password], input[type="email"], select {
  width: 80%;
  color: #757575;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.cancelbtn {
  background-color: #ff504a;
}

input[type=submit] {
  background-color: #3bbd2a;
  border:none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.bottom-links {
  color: #6c95f5;
}