{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<style></style>
</head>

<body>

<h1 class="index-title">STUDENT REGISTRATION</h2>

<div class="background">
  <div class="container">
    <div class="panel index-table">
      <div class="index-option">
        
        <h2 class="index-header">STUDENT REGISTRATION FORM</h2>

        <form method='POST' action="#/"> 
          <!-- Add restrictions for empty fields, emails and passwords -->
          <div class="form-cont">
            <hr>
            {% csrf_token %}

            {{form.full_name}}
            <p style='margin:10px'>Select Instructor</p>
            {{form.instructor_name}} <!-- Will display list of available registered instructors from database -->
            {{form.email}}
            <a href="/" class="index-button cancelbtn">Cancel</a>
            <input href="#/" type="submit" class="index-button registerbtn"></a>
          </div>
          <div class="cont signin">
            <p>Already registered in a game? <a class="bottom-links" href="/enter-game">Enter game here.</a></p>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script>
  var form_fields = document.getElementsByTagName('input')
  form_fields[1].placeholder='Enter Full Name';
  form_fields[2].placeholder='Enter Email';
  form_fields[3].placeholder='Enter Email';

  for (var field in form_fields) {
    form_fields[field].className += 'form-control'
  }
</script>

</body>
</html>